<h1 class = "head_color font_size"> <%=f_name.capitalize%> <%=l_name.capitalize%> What Math Equation Would You Like To Use? </h1>
<form method = "post" action = "equat">
    <p class = "head_color font"> <input type = "radio" name = "equation" value = "+"> Addition <br> 
    <input type = "radio" name = "equation" value = "-"> Subtraction <br> 
    <input type = "radio" name = "equation" value = "/"> Division <br> 
    <input type = "radio" name = "equation" value = "*"> Multiplication <br> </p>
    <input type = "submit" value = "submit">
                                            <input type = "hidden" name = "f_name" value = "<%=f_name%>">
                                            <input type = "hidden" name = "l_name" value = "<%=l_name%>">
                                            <input type = "hidden" name = "f_num" value = "<%=f_num%>">
                                            <input type = "hidden" name = "s_num" value = "<%=s_num%>"> 
</form>


